




body > header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 3.75rem;

  background-color: var(--noir);
}/* body > header { */

body > header figure {
  margin: 0.3125rem 0 0 1.25rem;
  width: 7rem;
}/* body > header figure { */


main { margin: calc(var(--gouttiere) / 2) var(--gouttiere) var(--gouttiere) var(--gouttiere); }

p { margin: 0 0 calc(var(--gouttiere) / 2) 0; }





#menu-ouvrir {
  margin: 0;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;

  background-color: transparent;
  border: none;
}/* #menu-ouvrir */