




/* 

------------------------------------------------------------ Sélecteurs HTML

*/

body > header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 3.75rem;

  background-color: var(--noir);
}/* body > header { */

body > header figure {
  margin: 0;
  padding: 0;
  margin: 0.3125rem 0 0 1.25rem;
  width: 7rem;

  background-color: transparent;
  border: none;
}/* body > header figure { */

main { margin: calc(var(--gouttiere) / 2) var(--gouttiere) var(--gouttiere) var(--gouttiere); }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-image: url('../images/svg/mustang-logo.svg');
  background-repeat: no-repeat;
  background-size: 7rem;
  background-position: 1.25rem 0.3125rem;
  background-color: var(--noir);

  font-family: 'Interface';
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--blanc);
}/* nav { */

nav a:link, nav a:visited, nav a:active {
  display: block;
  padding: 1.5rem;
  opacity: 1;
  color: var(--blanc);
  transition: 0.25s linear opacity;
}/* nav a:link, nav a:visited, nav a:active { */

nav a:hover { opacity: 0.625; }

p { margin: 0 0 calc(var(--gouttiere) / 2) 0; }















/* 

------------------------------------------------------------ Classes

*/

.button {
  margin: 0;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;

  background-color: transparent;
  border: none;
}/* .button */

.button.is-focused, .button:focus { border: none; }
.button.is-focused:not(:active), .button:focus:not(:active) { box-shadow: none; }















/* 

------------------------------------------------------------ IDs

*/

#menu-fermer {
  position: absolute;
  top: 0;
  right: 0;
}/* #menu-fermer { */

#navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}/* #navigation { */















/* 

------------------------------------------------------------ MQ

*/

@media screen and (min-width: 64rem) {

  body > header { height: 7.5rem; }

  body > header figure {
    width: 12.25rem;
    margin: 1rem 0 0 1rem;
  }/* body > header figure { */

  body > header .wrapper {
    position: relative;
    width: 64rem;
    margin: 0 auto;
  }/* body > header .wrapper { */

  nav {
    top: auto;
    left: auto;
    width: auto;
    height: auto;

    background-color: transparent;
    background-image: none;

    font-size: 0.875rem;
    font-weight: bold;
  }/* nav { */

  main {
    width: 64rem;
    margin: var(--gouttiere) auto;
  }

  #navigation {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: auto;
    height: 4.375rem;
    width: 35rem;
    transform: translateY(-50%);
  }/* #navigation { */

  #navigation ul { display: flex; }

  #menu-fermer, #menu-ouvrir { display: none; }

}/* @media screen and (min-width: 64rem) { */